/* header */
.header-bg {
    background-image: url("../img/mohamed-ajufaan-GFcWwwGNu_w-unsplash.jpg");
    height: 324px;
    /* max-width: 1366px; */
    /* width: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.header-bg::before {
    content: "";
    background-color: black;
    opacity: 60%;
    height: 100%;
    max-width: 100%;
    display: block;
}
.header-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    max-width: 1089px;
    width: 100%;
}
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1089px;
    width: 100%;
}
.nav-ul {
    display: flex;
}
.nav-li {
    margin-right: 51px;
}
.navlink {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: white;
    line-height: 16px;
}
.navlink-active {
    color: #5863F8;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.nav-li:nth-child(6) {
    margin-right: 0px;
}
.zetta {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    line-height: 19px;
}
.au-block {
    max-width: 190px;
    width: 100%;
    margin-top: 95px;
}
.au-block h2 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 42px;
    color: white;
    margin-bottom: 13px;
    line-height: 56px;
}
.au-block a {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: white;
    line-height: 19px;
}
.home::after {
    content: "";
    width: 1px;
    height: 19px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 17px;
}
/* first section */
.first-wrapper {
    max-width: 1088px;
    width: 100%;
    margin: 90px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.first-textbox-container {
    max-width: 444px;
    width: 100%;
    align-self: center;
}
.purple-title {
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: #5863F8;
    line-height: 19px;
}
.sub-title {
    font-size: 42px;
    font-family: Poppins, sans-serif;
    /* font-weight: bold; */
    color: #000000;
    line-height: 56px;
}
.fs-p-cont1 {
    max-width: 444px;
    width: 100%;
    margin-bottom: 10px;
}
.fs-p-cont1 p {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: #000000;
    line-height: 21px;
}
.fs-p-cont2 {
    max-width: 444px;
    width: 100%;
    margin-bottom: 20px;
}
.fs-p-cont2 p {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    color: #000000;
    line-height: 19px;
}
.first-img-container {
    max-width: 536px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fs-img:last-child {
    margin-top: 16px;
}
.first-section-button {
    max-width: 184px;
    width: 100%;
    height: 50px;
    background: #5863F8;
}
.first-section-button p {
    text-align: center;
    padding-top: 15px;
    font-family: Poppins, sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
}
.arrow-right {
    margin-left: 20px;
    vertical-align: middle;
}
/* section 2 */
.sec2-bg {
    background-image: url("../img/Group\ 13.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 612px;
    height: auto;
    /* width: 100%; */
}
.sec2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}
.sec2-container {
    margin:92px auto;
    max-width: 1088px;
    width: 100%;
}
/* .sec2-container h6{
    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    color: #5863F8;
} */
.sec2-container h3 {
    font-family: Poppins, sans-serif;
    font-size: 42px;
    line-height: 56px;
    font-weight: 500;
    color: white;
}
.sec2-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1088px;
    width: 100%;
    margin-top: 38px;
}
.sec2-box {
    width: 260px;
    height: 260px;
    background: #FFFFFF;
}
.sec2-box-content {
    width: 221px;
    height: 207px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 27px auto;
}
.sec2-box-circle {
    width: 59px;
    height: 58px;
    border-radius: 50%;
    background-color: #5863F8;
}
.sec2-box-circle-img {
    height: 33px;
    width: 33px;
    margin: 13px auto;
}
.sec2-box-content-h5 {
    margin: 15px 0px 24px 0px;
}
.sec2-box-content h5 {
    font-size: 18px;
    color: #000000;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}
.sec2-box-content p{
    font-size: 13px;
    line-height: 19px;
    font-family: Poppins, sans-serif;
    color: #B1B1B1;
    text-align: center;
}
/* section 3 */
.sec3-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 487px;
    height: auto;
    background-color: #F8F8F8;
}
.sec3-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 783px;
    width: 100%;
}
.sec3-left-img {
    margin:34px 0px 20px 0px;
}
.sec3-left-img span {
    vertical-align: 35px;
    margin-left: 19px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.review {
    font-size: 14px;
    line-height: 19px;
    font-family: Poppins, sans-serif;
    color: #000000;
}
/* section 4 */
.sec4-headline {
    margin: 90px 0px 54px 139px;
}
.sec4-img-flex {
    display: flex;
    justify-content: space-between;
}
/* footer */
.footer-wrapper {
    background-color: #121212;
    padding: 90px 0px 40px 0px;
}
.footer-content {
    max-width: 1006px;
    width: 100%;
    margin: 0 auto;
}
.footer-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.zeta-footer{
    font-family: Poppins, sans-serif;
    max-width: 260px;
    width: 100%;
}
.zeta-footer h3 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}
.zeta-footer p {
    color: #B1B1B1;
    font-size: 14px;
    line-height: 19px;
}
.socials {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
.facebook {
    width: 35px;
    height: 35px;
    background-color: #3B5998;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
}
.twitter {
    width: 35px;
    height: 35px;
    background-color: #55ACEE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    margin: 0 11px 0 11px;
}
.google {
    width: 35px;
    height: 35px;
    background-color: #DC4E41;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
}
.head-footer {
    color: #FFFFFF;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.links-footer li {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    color: #5863F8;
    line-height: 19px;
    margin-top: 11px;
}
.footer-embed-ul {
    margin-top: 11px;
}
.footer-embed-ul li:nth-child(2) {
    margin: 21px 0 21px 0;
}
.footer-embed {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    color: #ffffff;
    line-height: 19px;
}
.contact {
    color: #5863F8;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 14px;
}
.footer-copy {
    margin-top: 54px;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    color: #707070;
    line-height: 19px;
}
.author {
    color: #5863F8;
}